body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.greeting {
    position: absolute;
    width: 350px;
    height: 35px;
    left: 18px;
    top: 8px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;

    color: #000000;
}

.turnoField {
    box-sizing: border-box;

    position: absolute;
    width: 107px;
    height: 35px;
    left: 268px;
    top: 116px;

    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 999px;
    padding-left: 8px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);

    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.Search input {
    box-sizing: border-box;

    position: fixed;
    width: 277px;
    height: 64px;
    left: 18px;
    top: 748px;

    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 12px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    padding-left: 56px;

    color: rgba(0, 0, 0, 0.5);

    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.searchIcon {
    position: fixed;
    width: 28px;
    height: 28px;
    left: 34px;
    top: 767px;

}

.tipoEleicoes {
    position: absolute;
    width: 161px;
    height: 20px;
    left: 18px;
    top: 108px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.add {
    box-sizing: border-box;

    position: fixed;
    width: 64px;
    height: 64px;
    left: 310px;
    top: 748px;

    border-radius: 999px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    border-style: none;

    text-align: center;
}

.add img {
    width: 42px;
    margin-top: 10px;
}