body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img {
    position: absolute;
    width: 231px;
    height: 225px;
    left: 156px;
    top: 62px;

    background: url(computer-security-with-login-password-padlock.jpg);
}

.title {
    position: absolute;
    width: 300px;
    height: 34px;
    left: -16px;
    top: 310px;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    
    color: #000000;
}

.subtitle {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 23px;
    top: 350px;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    /* or 185% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    
    color: #000000;
}

.container-fluid {
    position: absolute;
    width: 358px;
    left: 16px;
    top: 394px;
}

.nomeTextField{
    box-sizing: border-box;
    
    width: 324px;
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 64px;
    padding-left: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.5);

}

.emailTextField{
    box-sizing: border-box;
    
    width: 324px;
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 64px;
    padding-left: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.5);

}

.imgField {
    position: absolute;
    margin-left: 82px;
    margin-top: -350px;
    color: transparent;
}

.entrar {
    position: absolute;
    width: 326px;
    height: 52px;
    top: 200px;

    background: #1F64B4;
    border-radius: 999px;
    border: 0px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #FFFFFF;
}

.helpText {
    position: absolute;
    width: 320px;
    height: 24px;
    left: 62px;
    top: 718px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.5);
}

a {
    box-sizing: border-box;

    position: absolute;
    width: 326px;
    height: 52px;
    left: 33px;
    top: 749px;

    border: 2px solid #1F64B4;
    border-radius: 999px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.5px;
    line-height: 48px;

    color: #1F64B4;
}